@use "../../components/_styles/colors";
@use "../../components/_styles/mixins" as mixins;
@use "../../components/_styles/default";

.container_calculator{
    padding: 32px 20px 41px 20px;
  @media screen and (min-width: 768px) {
    padding: 100px 32px 48px 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 147px 139px 111px 16px;
  }
}
.container__title{
  font-family: 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 68px;
  color: var(--text-contrast);
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 41px;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 32px;
  }
}
  