@use '../_styles/mixins' as mixins;
@use '../_styles/colors';

.logo {
  display: flex;
  position: relative;
  @include mixins.mediaquery('desktop', min) {
    min-width: 180px;
    padding-bottom: 10px;
  }
}
.logo__img {
  width: 47px;
  height: 44px;
  margin-right: 10px;
  @include mixins.mediaquery('desktop', min) {
    width: 70px;
    height: 66px;
  }
}
.logo__title {
  display: none;
  @include mixins.mediaquery('tablet', min) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include mixins.mediaquery('desktop', min) {
    position: absolute;
    bottom: 10px;
    left: 55px;
  }
  &:hover {
    stroke: var(--accent-main);
  }
}

.logo__title_mob {
  display: flex;
  align-items: center;
  justify-content: center;
    &:hover {
        stroke: var(--accent-main);
      }
}
