@use "../_styles/colors";
@use "../_styles/mixins" as mixins;
@use "../_styles/default";
@use "../_styles/fonts";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin-top: 30px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 0.5px solid var(--accent-main);
  border-radius: 50%;
  background: var(--accent-main);
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  font-size: 25px;
  color: var(--background);
  margin-top: 60px;
  padding-bottom: 2px;
  cursor: pointer;
  @include mixins.mediaquery ("tablet", min) {
    display: none;
  }
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-top: -4px;
}

.button:hover,
.button:focus {
  background-color: var(--background);
  border: 0.5px solid var(--accent-main);
  color: var(--accent-main);
  transition: all 250ms linear;
}