@use '../_styles/colors';
@use '../_styles/mixins' as mixins;

.backdrop {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop);

}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 100%;
    @include mixins.mediaquery("tablet", min) {
        left: 50%;
        transform: translate(-50%, 0);
        width: 768px;
        
      }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--background);
  border-bottom: 2px solid var(--form-input);
  padding: 20px;
    @include mixins.mediaquery('tablet', min) {
        padding-left: 32px;
        padding-right: 32px;
      }
}
.contentBlock {
  text-align: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  background-color: var(--accent-secondary);
}
.button {
  border: none;
  background-color: transparent;
  width: 36px;
  height: 29px;
}

.icon:hover,
.icon:focus {
  fill: var(--accent-main);
}
