:root {
  //color palette vars
  --accent-main: #FC842D;
  --accent-secondary: #264061;
  --text-contrast: #212121;
  --text-normal: #9B9FAA;
  --background: #ffffff;
  --icon-fill: #000000;
  --background-backdrop: rgba(33, 33, 33, 0.12);
  --background-modal-close: #EFF1F3;
  --form-input: #E0E0E0;
  --background-shapes: #F0F1F3;
}